# Trivy Scanning YAML File
name: Trivy Scan

# How will the scan be triggered
# Everytime there's a push to the main branch or a pull request this will trigger
on:
  push:
    branches:
      - main
    pull_request:

# every github job has to have a key-call "runon" this sets the server to run the job on
jobs:
  trivy_scan:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository, checkout@v4 is a github mrktplace action but you can make custom actions to replace
      - name: Checkout code
        uses: actions/checkout@v4

      # Run Trivy Scan, aquasec maintains a github action so all you have to do is reference the latest version
      # the 'with' param is how to configure the action - 1 will force to fail on any high/critical errors. 0 will bypass
      - name: Run Trivy Scan
        uses: aquasecurity/trivy-action@0.32.0
        with:
          scan-type: config
          exit-code: "1"
          severity: "HIGH,CRITICAL"
